<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SPACEMAP SPACE EVENT REPORT</title>
    <link rel="stylesheet" href="src/templates/static/common.css" type="text/css" />
  </head>
  <body>
    <span class="preheader">There are <%= totalcount %> conjunctions.</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="logo">
                  <a href="https://platform.spacemap42.com/" target="_blank" title="새창열기" rel="noreferrer noopener"><img src="https://spacemap.s3.ap-northeast-2.amazonaws.com/SPACEMAP_logo_inverted_HQ.png" alt="spacemap" border="0" width="150" loading="lazy" /></a>
                </td>
              </tr>
              <tr>
                <td class="title" style="font-size: 40px">SPACE EVENT REPORT</td>
              </tr>
              <tr>
                <td class="main-text" style="font-size: 16px; font-weight: bold; text-align: right; padding: 0 30px 0 0"><%= reportDate %></td>
              </tr>
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="main-text"><span>● There are </span><span style="font-weight: bold; color: #001326"><%= totalcount %></span><span> conjunctions in total.</span></td>
                    </tr>
                    <tr>
                      <td>
                        <table style="width: 60%; text-align: left" border="0" cellpadding="0" cellspacing="0" class="table">
                          <tr>
                            <td class="table-header-sub">ID</td>
                            <td class="table-header-sub">Name</td>
                            <td class="table-header-sub">#Conjunctions</td>
                          </tr>
                          <% metadata.forEach((satellite, idx) => { %> <% if (idx < 5) { %>
                          <tr>
                            <td class="table-body-sub"><%= satellite.id %></td>
                            <td class="table-body-sub"><%= satellite.name %></td>
                            <td class="table-body-sub"><%= satellite.numConjunctions %></td>
                          </tr>
                          <% } %> <% }) %> <% if (metadata.length > 5) { %>
                          <tr>
                            <td class="table-body-sub" style="font-weight: bold">· · ·</td>
                            <td class="table-body-sub" style="font-weight: bold">· · ·</td>
                            <td class="table-body-sub" style="font-weight: bold">· · ·</td>
                          </tr>
                          <% } %>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="height: 30px"></td>
                    </tr>
                    <tr>
                      <td class="main-text">● 10 critical conjunctions (DCA order)</td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="table">
                          <tr>
                            <td class="table-header"></td>
                            <td colspan="2" class="table-header">Primary</td>
                            <td colspan="2" class="table-header">Secondary</td>
                            <td class="table-header">TCA</td>
                            <td class="table-header">DCA</td>
                          </tr>
                          <% conjunctions.forEach((conjunction) => { %>
                          <tr>
                            <td class="table-body" style="font-weight: bold"><%= conjunction.index %></td>
                            <td class="table-body"><%= conjunction.pid %></td>
                            <td style="font-size: 12px" class="table-body"><%= conjunction.pName %></td>
                            <td class="table-body"><%= conjunction.sid %></td>
                            <td style="font-size: 12px" class="table-body"><%= conjunction.sName %></td>
                            <td class="table-body"><%= conjunction.tcaTime %></td>
                            <td class="table-body"><%= conjunction.dca %></td>
                          </tr>
                          <% }) %> <% if (conjunctions.length == 10) { %>
                          <tr>
                            <td class="table-body" style="font-weight: bold">· · ·</td>
                            <td colspan="2" class="table-body" style="font-weight: bold">· · ·</td>
                            <td colspan="2" class="table-body" style="font-weight: bold">· · ·</td>
                            <td class="table-body" style="font-weight: bold">· · ·</td>
                            <td class="table-body" style="font-weight: bold">· · ·</td>
                          </tr>
                          <% } %>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px; padding-top: 30px" class="main-text">Please find attached reports for more information.</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
          <!-- START FOOTER -->
          <div class="footer">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-block">
                  <span class="apple-link">SpaceMap Inc. 222, Wangsimni-ro, Seongdong-gu, Seoul, Republic of Korea</span>
                  <!-- <br /> -->
                  <!-- Don't like these emails? -->
                  <!-- <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>. -->
                </td>
              </tr>
            </table>
          </div>
          <!-- END FOOTER -->
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
