<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Space Event Report</title>
  </head>
  <body>
    <style>
      .text-wrapper {
        width: 200px;
        background-color: rgb(202, 214, 240);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 32px;
        border-radius: 15px;
        margin-bottom: 10px;
      }
      .conjunctions-text {
        text-align: center;
        font-size: 14px;
        color: rgb(64, 91, 147);
      }
      div {
        width: 950px;
        border-radius: 6px;
        overflow: hidden;
      }
      .meta-table{
        width:400px;
        background-color: white;
        border: 1px solid rgb(130, 151, 193);
        border-radius: 8px;
        margin-bottom: 1rem;
        border-collapse: separate;
        border-spacing: 0px;
      }
      .meta-table th {
        background-color: rgb(239, 242, 248);
        border-spacing: 0px;
        margin : 10px;
      }
      .meta-table th:nth-of-type(1) {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-left: 3px solid rgb(255, 255, 255);
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
      }
      .meta-table th:nth-of-type(3) {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-right: 3px solid rgb(255, 255, 255);
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
      }
      .meta-table th:nth-of-type(2) {
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
      }
      .meta-table td {
        border-right: none;
      }
      table {
        border: 1px black solid;
        width: 100%;
        background-color: rgb(239, 242, 248);
        border-collapse: collapse;
        border-style: hidden;
      }
      tr:first-child {
        background-color: rgb(230, 235, 247);
        font-size: 14px;
        font-weight: 500;
        height: 28px;
      }
      tr:nth-child(2n) {
        background-color: white;
      }
      td {
        height: 25px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
      }
      .main-table td:nth-child(2n + 1) {
        border-right: 1px solid rgb(219, 219, 219);
      }
      .main-table td:nth-child(6) {
        border-right: 1px solid rgb(219, 219, 219);
      }
      .main-table .sat-name{
        border-right: 1px solid rgb(219, 219, 219);
      }
    </style>
    <div class="text-wrapper" style="display: table;">
      <p class="conjunctions-text" style="text-align: center; width: 100%; display: table-cell; vertical-align: middle;">There are <%= totalcount %> conjunctions.</p>
    </div>
    <table class="meta-table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>#Conjunctions</th>
      </tr>
      <% metadata.forEach((satellite) => { %>
      <tr>
        <td style="padding-right: 10px; text-align: center; width:50px "><%= satellite.id %></td>
        <td class="sat-name" style="padding-right: 10px; text-align: center"><%= satellite.name %></td>
        <td style="text-align: center"><%= satellite.numConjunctions %></td>
      </tr>
      <% }) %>
    </table>
    
    <div>
      <table class="main-table">
        <tr>
          <th>Index</th>
          <th colspan="2">Primary</th>
          <th colspan="2">Secondary</th>
          <th>TCA</th>
          <th>DCA</th>
        </tr>
        <% conjunctions.forEach((conjunction) => { %>
        <tr>
          <td><%= conjunction.index %></td>
          <td><%= conjunction.pid %></td>
          <td><%= conjunction.pName %></td>
          <td><%= conjunction.sid %></td>
          <td><%= conjunction.sName %></td>
          <td><%= conjunction.tcaTime %></td>
          <td><%= conjunction.dca %></td>
        </tr>
        <% }) %>
        <tr>
          <td>...</td>
          <td colspan="2" style="border-right: 1px solid rgb(219, 219, 219);">...</td>
          <td colspan="2">...</td>
          <td style="border-right: 1px solid rgb(219, 219, 219);">...</td>
          <td>
            ...
          </td>
        </tr>
      </table>
    </div>

    <br/>
    <p>Please find attached reports for more information.</p>
    </br>

  </body>
</html>
