<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Space Event Report</title>
  </head>
  <body>
    <style>
      div {
        width: 950px;
        border-radius: 6px;
        overflow: hidden;
      }
      .table{
        width:400px;
      }
      table {
        width: 100%;
        background-color: rgb(235, 235, 235);
        border-collapse: collapse;
        border-style: hidden;
      }
      tr:first-child {
        background-color: rgb(212, 212, 212);
        font-size: 16px;
        height: 28px;
      }
      tr:nth-child(2n) {
        background-color: white;
      }
      td {
        height: 25px;
        text-align: center;
        font-size: 12px;
      }
      td:nth-child(2n + 1) {
        border-right: 1px solid rgb(219, 219, 219);
      }
      td:nth-child(6) {
        border-right: 1px solid rgb(219, 219, 219);
      }
      .sat-name{
        border-right: 1px solid rgb(219, 219, 219);
      }
    </style>
    <br><b>There are <%= totalcount %> conjunctions. </b><br/>
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>#conjunctions</th>
      </tr>
      <% metadata.forEach((satellite) => { %>
      <tr>
        <td style="padding-right: 10px; text-align: center; width:50px "><%= satellite.id %></td>
        <td class="sat-name" style="padding-right: 10px; text-align: center"><%= satellite.name %></td>
        <td style="text-align: center"><%= satellite.numConjunctions %></td>
      </tr>
      <% }) %>
    </table>
    <br/>
    <b>Please find below attachments for more information.</b>
    </br>
    <div>
      <table>
        <tr>
          <th>Index</th>
          <th colspan="2">Primary</th>
          <th colspan="2">Secondary</th>
          <th>TCA</th>
          <th>DCA</th>
        </tr>
        <% conjunctions.forEach((conjunction, index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= conjunction.pid %></td>
          <td><%= conjunction.pName %></td>
          <td><%= conjunction.sid %></td>
          <td><%= conjunction.sName %></td>
          <td>
            <%= moment.utc(conjunction.tcaTime).format('MMM DD, YYYY HH:mm:ss') %>
          </td>
          <td><%= conjunction.dca %></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
